@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url('../fontes/idroid.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
    height: 100%;
    width: 100%;
}

header {
            background-image: linear-gradient(to top, #156b3c,#46a771);
            text-align: center;
            padding-top: 40px;
            height: 150px;   

}
#titulo{

    color:white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
    margin-bottom: 30px;
     
}

#descricao__titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    background-color: #156b3c;
    margin-bottom: 5px;
    padding: 10px;  
}

nav a {
    background-color: #156b3c;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

}

nav a:hover{
    background-color: white;
    color:black;
    border-radius: 4px;
    transition-duration: 1s;
}


        /*-------------- FINAL CABEÇALHO ---------------*/

main{
   margin: auto;
   background-color: white;   
   padding: 30px 0px 30px 0px; 
   
   max-width: 800px;
   min-width: 320px;


}

.T1{
    color: #286644;
    font-family: idroid;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;

}

.T2{
    font-family: idroid;
    color:#286644;
    margin: 20px 0px 20px 0px;
    background-image: linear-gradient(to right, #c0e7d2c9, transparent);
    margin-left: 40px;
}

p{
    padding: 0px 20px 0px 20px; 
    text-align: justify;
    text-indent: 50px;
    font-family: 'Bebas Neue', cursive;
    
}

img{
    width: 100%;
}

.android{
    max-width: 350px;
    margin:auto;
    display:block; 
}

strong{
    font-weight: bold;
    color:#46a771
}

main a{

    text-decoration: none;
    color:#286644;
    background-color: #c5ebd6;
    font-weight: bold;
}

aside{
    background-color: #46a771;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

ul{
    columns: 2;
    padding: 15px;

}

h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    padding: 10px;
    font-weight: bolder;
}
.fundo{
 
    background-color: #156b3c;
    padding: 20px; 
    position: relative;
    padding-bottom: 59%;
    }
    
    section > iframe{
       
        position:absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }

        /*----------------- FINAL MAIN -------------*/

footer{
    background-color: black;
    color: white;
    padding: 3px;
    font-size: 0.8em;
   text-align: center;
   font-weight: bold;

}